<%- include('partials/header.ejs') %>
<div class="banner">
    <img src="/images/Group 9.png"/>
    <div>
        <h1>Platform to post your quirky thoughts 😜</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti porro veniam incidunt nesciunt, doloremque nihil odit quasi unde ipsa consequuntur, ipsum voluptas aspernatur aut. Accusamus sunt quas quibusdam suscipit unde?</p>
        <input class="srch" type="search" placeholder="Enter your thoughts">
        <button class="btn">Search</button>
    </div>
</div>

<div class="about" id="about">
     <div>
        <h1>Who are we?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id harum cupiditate expedita perspiciatis quae suscipit maiores sunt commodi, deserunt minima totam, tenetur repellat repudiandae nulla, nihil sit recusandae quia ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet accusamus aliquam illum fuga ullam autem est error sed repellendus atque facilis cumque, illo expedita ipsum eum soluta praesentium nemo ex.</p>
     </div>
     <img src="/images/Group 10.png"/>
</div>

<div class="contact" id="contact">
    <div id="contact">
        <h1>Contact Us</h1>
        <ul>
            <li><i class="bi bi-envelope"></i> .blogpost@gmail.com</li>
            <li><i class="bi bi-telephone"></i> +917008256109</li>
            <li><i class="bi bi-house-door"></i> Odisha,India</li>
        </ul>
    </div>
    <div class="follow">
        <h1>Follow Us</h1>
        <ul>
            <li><i class="bi bi-facebook"></i></li>
            <li><i class="bi bi-instagram"></i></li>
            <li><i class="bi bi-twitter-x"></i></li>
            <li><i class="bi bi-youtube"></i></li>
        </ul>
    </div>
</div>
<%- include('partials/footer.ejs') %>